.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.pversion
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/derived/*
data/input/dgrp2.tgeno
data/input/dgrp.fb557.annot.txt
data/input/dgrp2.bed
data/input/dgrp2.bim
data/input/dgrp2.fam
data/input/dgrp.array.exp.female.txt
data/input/dgrp.array.exp.male.txt
data/input/huang_transcriptome/*
code/Drosophila_GWAS.Rmd
figures/figure1a.pdf
figures/figure1b.pdf
figures/fig1_inkscape.svg
.httr-oauth
